/* Style MENU */

body {
    /* font-family: 'Lato', sans-serif; */
    font-family: 'Nunito Sans', sans-serif;
}
.container {
    max-width: 1180px;
    margin: 0 auto;
}
header {
    border-bottom: 1px solid #DEDEDE;
}
.header {
     font-family: 'Open Sans', sans-serif;
     display: flex;
     align-items: center;
     justify-content: space-between; 
     padding: 26px 0 20px 0;
}
.header-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 68.5%;
}
.header-logo {
    display: block;
    background-image: url(../img/logo.svg);
    width: 176px;
    height: 56px;
    background-repeat: no-repeat;
    background-size: cover;
}
.header-nav {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    justify-content: space-between;
    align-items: center;
    gap: 45px;
}
.header-nav a {
    text-decoration: none;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #443737;
}
.header-nav a:hover {
    color: #F37335;
}
.header-nav a.active::after {
    background-color: #FFC725;
}
.header-nav a::after {
    content: "";
    width: 100%;
    height: 3px;
    border-radius: 1.5px;
    background-color: transparent;
    display: block;
}
.button {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    padding: 0;
    gap: 10px;
    cursor: pointer;
}
.button-count {
    font-size: 13px;
    font-weight: 700;
    color: #fff;
    background-color: #F37335;
    text-align: center;
    border-radius: 100%;
    position: absolute;
    width: 17px;
    height: 17px;
    line-height: 1.3;
    bottom: 3px;
    right: -4px;
}
.button-item {
    position: relative;
}
.button-text {
    color: #443737;
    font-weight: 700;
    font-size: 15px;
}
.bg {
    text-align: center;
    color: #fff;
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-position: center center; 
    margin-bottom: 142px;
}
.breadcrumbs {
    padding-left: 0;
    padding-top: 145px;
    margin-top: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 9px;
}
.breadcrumbs a {
    color: #DEDEDE;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}
.breadcrumbs a:hover {
    color: #FFC725;
}
.breadcrumbs a::before {
    content: "/";
    position: relative;
    left: -6px;
    pointer-events: none;
}
.breadcrumbs a:hover::before {
    color: #DEDEDE;
}
.breadcrumbs li:first-child a::before {
    display: none;
}
.title {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 79px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 20px;
}
.description {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #FAF9F9;
    max-width: 320px;
    margin: 0 auto;
    padding-bottom: 140px;
}
.banner-box {
    background-image: url(../img/banner1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 0 52px 0;
    background-position: 0 center;
    color: #fff;
    padding: 110px 100px 120px 100px;
    position: relative;
}
.banner-discount {
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    left: 100px;
    top: 100px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.1;
    text-transform: uppercase;
    padding: 6px 20px;
    color: #fff;
    background-color: #F37335;
    text-align: center;
    border-radius: 15px;
}
.banner-title {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 60px;
    font-weight: 900;
    margin: 25px 0 0 0;
}
.banner-text {
    color: #FAF9F9;
    font-size: 15px;
    max-width: 307px;
    line-height: 1.5;
    margin-bottom: 35px;
}
.banner-link {
    text-decoration: none;
    color: #1E2F40;
    text-transform: uppercase;
    background: #FBB731;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    border-radius: 5px;
    padding: 18px 25px;
    border: 1px solid #FBB731;   
    transition: 0.2s;
}
.banner-link:hover {
    background-color: transparent;
    color: #FBB731;
}
.menu {
    padding-top: 20px;
}
.menu-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu-title {
    font-weight: 700;
    font-size: 44px;
    text-transform: uppercase;
    color: #1B2A49;
    margin-top: 33px;
}
.menu-other .menu-title {
    margin-top: 87px;
}
.menu-select {
    border: 1px solid #DEDEDE;
    padding: 13px 30px;
    border-radius: 22px;
    color: #443737;
    font-size: 15px;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    flex-basis: 279px;
    background-image: url(../img/chevron-down.svg);
    background-repeat: no-repeat;
    background-size: 12.79px 7.75px;
    background-position: 89% center;
}
.menu-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px 20px;
    text-align: center;
}
.menu-grid-cover {
    width: 100%;
    height: 430px;
    position: relative;
    overflow: hidden;
}
.menu-grid-cover img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
}
.menu-grid-title { 
    font-weight: 600;
    font-size: 30px;
    color: #1B2A49;
    margin: 24px 0 0;
}
.menu-grid-price {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #979797;
    margin: 10px 0 20px;  
}
.menu-grid-price-btn {
    background-color: #FBB731;
    border: none;
    padding: 10px 35px;
    border-radius: 7px;
    /* margin-bottom: 30px; */
    transition: 0.2s;
}
.menu-grid-price-btn:hover {
    background-color: #F37335;
    cursor: pointer;
    border: none;
    padding: 10px 35px;
    border-radius: 7px;
    margin-bottom: 30px;
}
.menu-grid-icon {
    background-image: url("../img/cart-menu.svg");
    width: 18px;
    height: 18px;
    display: inline-block;
    margin-left: -10px;  
}
.menu-grid-text {
    text-transform: uppercase;
    font-family: Nunito Sans;
    font-weight: 700;
    font-size: 14px;
    color: #1E2F40;
    padding-left: 20px;
}
.menu-addition-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 44px;
    color: #1B2A49;
    margin: 105px 0 35px 0;
}
.footer {
    background: #1E2F40;
    color: #fff;
    margin-top: 140px;
    padding-top: 0;
    padding-bottom: 0;
}
.footer-box {
    display: flex;
    justify-content: space-between;
    padding: 118px 0 94px 0;
    margin-top: 0;
    gap: 20px;
}
.footer-logo {
    width: 63px;
    height: 56px;
}
.item {
    flex: 0 0 auto;
}
.footer-item h2 {
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 12px;
    margin-top: 0;
}
.footer-list li {
    margin-bottom: 9px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #FAF9F9;
    font-weight: 700;
    line-height: 24px;
}
.footer-list a {
    color: #DEDEDE;
    text-decoration: none;
    font-weight: 400;
}
.footer-list a:hover {
    color: #FBB731;
}
.footer-item span {
    color: #DEDEDE;
    display: block;
    font-weight: 400;
    margin-bottom: 2px;
}
.footer-list-tel {
    /* display: none; */
    margin-top: 0;
}
.footer-list-tel li {
    margin-bottom: 12px;
    list-style-type: none;
}
.footer-list-tel a {
    font-size: 20px;
    font-weight: 800;
    color: #FBB731;
    margin-top: 0;
}
.footer-list-tel a:hover {
    color: #DEDEDE;
}
.footer-list {
    padding: 0;
    list-style-type: none;
}
.button-up {
    background-color: #FBB731;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: #1E2F40;
    padding: 5px 20px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 5px;
    transition: 1s;
}
.button-up:hover {
    background-color: #F37335;
}
.button-up.hidden {
    opacity: 0;
}
.button-up.visible {
    opacity: 1;
}

 /* Responsive MENU */

@media (min-width: 1001px) {
    .footer-list + .footer-list-tel {
        display: none;
    }
    .menu-other .menu-title {
        margin-top: 72px;
    }
}

@media (max-width: 1000px) {
    .container {
        max-width: 738px;
    }
    .header-logo {
        width: 150px;
        height: 48px;
        background-size: contain;
    }
    .header-nav {
        gap: 22px;
    }
    .header-item {
        flex-basis: 75.5%;
    }
    .bg {
        margin-bottom: 72px;
    }
    .banner-box {
        background-position: -80px center;
        padding: 100px 40px 120px;
    }
    .banner-discount {
        position: absolute;
        left: 40px;
    }
    .banner-title {
        margin: 35px 0 0 0;
    }
    .menu {
        padding-top: 0;
    }
    .menu-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 50px 15px;
    }
    .menu-other {
        overflow: hidden;
        height: 100%;
    }
    .menu-header {
        margin-top: 54px;
    }
    .menu-other .menu-grid {
        display: flex;
        width: auto;
        overflow-y: scroll;
        overflow-y: hidden;
        padding-bottom: 50px;
    }
    .menu-other .menu-grid-item {
        flex: 0 0 35vw;
    }
    .menu-other .menu-grid-cover,
    .menu-other .menu-grid-cover img {
        height: 320px;
    }
    .footer-tel {
        display: none;
    }
    .footer-list + .footer-list-tel {
        display: block;
    }
}
@media (min-width: 766px) {
    .header-burger {
        display: none;
    }
}

@media (max-width: 765px) {
    nav {
        display: none;
    }
   .header {
       gap: 21px;
   }
   .container {
       margin: 0 15px 0 15px;
   }
   .menu-other .container {
        padding-right: 0;
    }
    .menu-other .menu-title {
        margin-top: 38px;
    }
   
    .footer-box {
        padding-top: 68px;
    }
    .footer {
        margin-top: 67px;
    }
    .button-up.visible {
        display: none;
    }
}
@media (max-width: 567px) {
    
    .burger {
        top: 27px;
    }
    .header {
        padding-top: 19px;
        padding-bottom: 19px;
        margin-right: 15px;
    }
    .header-logo {
        width: 116px;
        height: 37px;
        margin-left: 40px;
    }
    .bg {
        text-align: center;
        color: #fff;
        background-image: url(../img/bg.jpg);
        background-size: cover;
        background-position: 40% center;
        margin-bottom: 33px;
        padding: 57px 0;
    }
    .breadcrumbs {
        padding-top: 0;
        font-size: 14px;
    }
    .title {
        font-size: 38px;
        margin-top: 28px;
        margin-bottom: 10px;
    }
    .description {
        font-size: 12px;
        padding-bottom: 0;
    }
    .banner-box {
        background-position: 8% center;
        padding: 15px 10px 55px 10px;
    }
       .banner-discount {
        left: 14px;
        top: 35px;
        padding: 6px 24px;
    }
    .banner-title {
        margin: 55px 0 0 5px;
    }
    .banner-text {
        margin: 16px 0 34px 5px;
        line-height: 1.6;
    }
    .banner-link {
        padding: 18px 34px;
        margin-left: 5px;
    }
    .menu-title {
        font-size: 27px;
        margin: 8px 0 34px 15px;
    }
    .menu-select {
        font-size: 12px;
        flex-basis: 136px;
        padding: 13px 18px 13px 14px;
        background-position: 91%; 
    }
    .menu-grid { 
        gap: 25px 10px;
    }
    .menu-grid-cover {
        height: 51vw;
        margin-bottom: 10px;
    }
    .menu-grid-cover img {
        height: 100%;
    }
    .menu-grid-title {
        font-weight: 700;
        font-size: 15px;
        margin: 13px 0 0;
    }
    .menu-grid-price {
        font-size: 16px;
        margin: 5px 0 9px;
    }
    .menu-grid-btn {
        padding: 10px 21px;
    }
    .menu-other .container {
        padding-right: 0;
    }
    .menu-other .menu-header {
        margin-top: 25px;
    }
    .menu-other .menu-grid {
        padding-bottom: 14vw;
    }
    .menu-other .menu-grid-cover {
        height: 50vw;
    }
    .menu-other .menu-grid-cover img {
        height: 100%;
    }
    .menu-other .menu-grid-item {
        flex: 0 0 38vw;
    }
    
    .footer {
        margin-top: 28px;
        padding-top: 0;
        padding-bottom: 0;
    }
    .footer-list + .footer-list-tel {
        display: none;
    }
    .footer-tel {
        display: block;
    }
    .footer-box {
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-areas: "logo tel" "link link" "info info";
        gap: 0;
    }
    .footer-item:nth-child(1) {
        grid-area: logo;
    }
    .footer-item:nth-child(2) {
        grid-area: link;
    }
    .footer-item:nth-child(3) {
        grid-area: info;
    }
    .footer-tel {
        grid-area: tel;
        /* text-align: right; */
    }
}
@media (max-width: 413px) {
  
    .banner-text {
        margin-top: 5px;
        max-width: 241px;   
    }
}
@media (max-width: 360px) {
    .header-logo {
        width: 116px;
        height: 37px;
        background-size: contain;
        margin-left: 40px;
    }
    .menu-grid-title {
        font-size: 13px;
    }
}
@media (max-width: 320px) {
    .banner-box {
        background-position: 25% center;
    }
    .menu-other {
        height: 150vw;
    }
    .menu-other .menu-grid {
        padding-bottom: 14vw;
    }
    .menu-other .menu-grid-cover img {
        height: 100%;
    }
    .banner-box {
        background-position: 20% center;
    }
    .banner-text {
        max-width: 235px;
        margin: 16px 0 33px 5px;
    }
}

/* Modal */

.burger {
    background-image: url(../img/burger-menu.svg);
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 34px;
    height: 22px;
    left: 17px;
    top: 36px;
}
.burger-close {
    width: 22px;
    height: 22px;background-color: transparent;
    background-image: url(../img/close-modal.svg);
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}
#modal {
   
    max-width: 500px;
    background-color: cornsilk;
    text-align: center;
    position: absolute;
    top: -400px;
    left: 0;
    right: 0;
    margin: 20px auto 0;
    transition: 0.5s;
    padding: 40px 30px;
    box-sizing:border-box;

}
#modal .header-nav {
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
    align-items: center;
}

/* Style INDEX */

.main {
    background: linear-gradient(180deg, #0C4C7B -100%, #1E2F40 100%);
}
.wrapper {
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.content {
    color: #FAF9F9;
    flex: 0 0 50%;
    padding-top: 108px;
    padding-bottom: 167px;
}
.content-title {
    font-size: 120px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1.1;
    margin-top: 0;
    margin-bottom: 52px;
}
.content-title span {
    color: #FBB731;
    font-size: 30px;
    font-weight: 700;
    line-height: 38px;
    display: block;
    margin-top: 60px;
    margin-bottom: 10px;
}
.content-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 19px;
    line-height: 1.4;
    margin-bottom: 50px;
}
.content-link,
.promo a {
    color: #1E2F40;
    background-color: #FBB731;
    border-radius: 5px;
    text-decoration: none;
    padding: 20px 45px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
}
.visual {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    position: relative;
}
.visual-bg {
    width: 432px;
    height: 100%;
    background: linear-gradient(2.42deg, #F37335 -19.6%, #FBB731 100.79%, #FDC830 100.79%);
}
.main img {
    width: 140%;
    position: absolute;
    right: -168px;
}
.promo {
    padding-top: 184px;
    padding-bottom: 0;
}
.promo-left,
.promo-right {
    flex: 0 0 49%;
    color: #fff;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.promo-left {
    background-image: url(../img/promo-left.png);
    padding: 118px 39px;
    
}
.promo-right {
    background-image: url(../img/promo-right.png);
    padding: 105px 34px;
}
.sale {
    font-size: 14px;
    font-weight: 900;
    background: #F37335;
    padding: 5px 19px;
    border-radius: 14px;
    display: inline-block;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 0;
}
.cost {
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 0;
    margin-top: 0;
}
.promo-description {
    font-family: 'Open-Sans', sans-serif;
    color: #FAF9F9;
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 0;
}
.promo-left .promo-description {
    max-width: 392px;
}
.promo-right .promo-description {
    max-width: 300px;
    margin-bottom: 20px;
}
.free {
    font-size: 44px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 0;
}
.footer {
    background: #1E2F40;
    color: #fff;
    padding-top: 4px;
    padding-bottom: 0;
    margin-top: 179px;
}
.footer-box {
    display: flex;
    justify-content: space-between;
    padding: 118px 0 94px 0;
    margin-top: 0;
    gap: 147px;
}

.logo {
    width: 63px;
    height: 56px;
}
.item {
    flex: 0 0 auto;
}
.item h2 {
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 12px;
}
ul {
    padding-left: 0;
}
.item ul,
.tel ul {
    list-style-type: none;
}
.item li {
    margin-bottom: 9px;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    color: #FAF9F9;
    font-weight: 700;
    line-height: 24px;
}
.item a {
    color: #DEDEDE;
    text-decoration: none;
    font-weight: 400;
}
.item span {
    color: #DEDEDE;
    display: block;
    font-weight: 400;
    margin-bottom: 2px;
}
.tel ul {
    font-size: 20px;
    color: #FBB731;
}
.tel li {
    margin-bottom: 12px;
}


/* Responsive INDEX */

@media (max-width: 1300px) {
    .wrapper {
        max-width: 1000px;
    }
    .content {
        padding: 60px 68px 100px;
    }
    .main img {
        width: 200%;
        right: -320px;
    }
    .footer-box {
        gap: 70px;
    }
}

@media (max-width: 1112px) {
    /* .wrapper {
        max-width: 900px;
    } */
    .content {
        padding: 8px 69px 116px 0px;
    }
    .content-title {
        font-size: 90px;
        margin-bottom: 0;
    }
    .content-title span {
       font-size: 22px;
       margin-top: 30px;
    }
    .content-text {
        margin-bottom: 20px;
    }
    .main img {
        width: 150%;
        right: -100px;
        top: -50px;
    }
    .promo {
        padding: 106px 43px 9px 14px;    
    }
    .promo-description {
        margin-top: 21px;
    }
    .promo-left {
        padding: 44px 6px 63px 30px;
        margin-right: 15px;
    }
    .promo-left .promo-description {
        max-width: 302px;
    }
    .promo-right {
        padding: 50px 30px;
    }
    .cost {
        margin-bottom: 0;
    }
    .footer {
        padding: 0;
        margin-top: 133px;
    }
    .footer-box {
        padding: 68px 0 109px 0;
    }
}
@media (max-width: 1046px) {

    .wrapper {
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media (min-width: 1001px) {
    .footer-list + .footer-list-tel {
        display: none;
    }
}
@media (max-width: 1000px) {
    .main img {
        width: 160%;
        right: -124px;
    }
    .footer-box {
        padding: 68px 0 65px 0;
    }
    .footer-tel {
        display: none;
    }
    .footer-list + .footer-list-tel {
        display: block;
    }
}
@media (max-width: 985px) {
    .content {
        padding: 0 40px 116px;
    }
    .content-title {
        font-size: 80px;
        margin-bottom: 25px;
        line-height: 1.2;
    }
    .content-title span {
       font-size: 20px;
       margin-top: 30px;
    }
    .content-text {
        font-size: 16px;
        margin-bottom: 30px;
    }
    .main img {
        width: 130%;
        right: -34px;
        top: -12px;
    }
}
@media (max-width: 860px) {
    .wrapper {
        padding: 0;
    }
    .content {
        padding: 7px 105px 116px 27px;
    }   
}
@media (max-width: 848px) {
   
    .promo {
        padding: 107px 29px;
    }
    .promo-right {
        padding-top: 60px;
        padding-bottom: 50px;
        margin-left: 0;
    }
    .promo-left {
        padding-top: 60px;
        padding-bottom: 50px;
        margin-left: 0;
    }
    .footer {
        margin-top: 25px;
    }
}
@media (max-width: 800px) {
    .wrapper {
        padding: 0 15px 0 15px;
    }
    .content {
        padding: 5px 114px 124px 0;
    }
    .content-title span {
        margin-bottom: 7px;
    }
    .content-title {
        font-size: 86px;
        line-height: 1.15;
        margin-bottom: 22px;
    }
    .content-text {
        font-size: 14px;
        max-width: 408px;
    }
    .content-link {
        padding: 19px 39px;
    }
    .main img {
        width: 130%;
        right: 36px;
        top: 84px;
    }
    .promo {
        padding: 50px 4px;
        margin-top: 55px;
        margin-bottom: 84px;
    }
    .promo-left {
        padding-top: 0;
        padding-left: 28px;
        margin-right: 0;
    }
    .promo-right  {
       padding-left: 20px;
       margin-left: 0;
    }
    .sale {
        margin-top: 46px;
        margin-bottom: 0;
    }
    .cost {
        margin-top: 10px;
    }
    .footer {
        margin-top: 0;
    }
    .footer-box {
        display: flex;
        justify-content: space-between;
        padding: 65px 0 68px 0;
        margin-top: 0;
        gap: 60px;
    }
}

@media (max-width: 743px) {
    .content-text {
        max-width: 352px;
    }
}
@media (max-width: 710px) {
    .main img {
        width: 120%;
        right: 78px;
        top: 106px;
    }
    .footer-box {
         padding: 67px 0 42px 0;
    }
}
@media (max-width: 645px) {
    .content {
        padding: 5px 164px 154px 17px;
    }
    .wrapper {
        padding-left: 10px;
        padding-right: 10px;
    }
    .content-title {
        font-size: 76px;
        margin-bottom: 0;
    }
    .content-text {
        max-width: 352px;
        margin-bottom: 31px;
    }
    .main img {
        width: 120%;
        right: 197px;
        top: 144px;
    }
}
@media (max-width: 630px) {
    .wrapper {
        display:block;
    }
    .content-title {
        font-size: 70px;
    }
    .main img {
        width: 70%;
        right: -42px;
        top: -310px;
    }
    .promo {
        padding: 60px 70px;
    }
    .promo-left {
        margin-bottom: 22px;
    }
}
@media (max-width: 600px) {
    .content-title {
        font-size: 58px; 
    }
    .content-text {
        max-width: 300px;
    }
  
}
@media (max-width: 556px) {
    .wrapper {
        padding-left: 0;
    }
    .content {
        padding-bottom: 125px;
    }
    .content-title span {
        font-size: 14px;
        margin-top: 31px;
        margin-bottom: 6px;
    }
    .content-text {
        margin-top: 28px;
        margin-bottom: 30px;
    }
    .content-link {
        margin-bottom: 40px;
    }
   
    .promo {
        padding: 46px 24px;
        margin-bottom: 0;
        margin-top: 50px;
    }
    .promo-left {
        padding: 0px 35px 56px 17px;
    }
    .sale {
        margin-top: 39px;
    }
    .cost {
        margin-top: 7px;
    }
    .promo-description {
        margin-top: 0;
    }
    .promo-right {
        padding-left: 15px;
        padding-top: 42px;
        padding-bottom: 43px;
    }
    .free {
        font-size: 36px;
        margin-bottom: 20px;
    }
    .footer {
        margin-top: 15px;
    }
    
    .footer-list + .footer-list-tel {
        display: none;
    }
    .footer-tel {
        display: block;
        margin-bottom: 30px;
    }
    .footer-box {
        padding: 67px 0 76px 35px;
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-areas: "logo tel" "link link" "info info";
        gap: 0;
    }
    .footer-item:nth-child(1) {
        grid-area: logo;
    }
    .footer-item:nth-child(2) {
        grid-area: link;
    }
    .footer-item:nth-child(3) {
        grid-area: info;
    }
    .footer-tel {
        grid-area: tel;
        /* text-align: right; */
    }
}
@media (max-width: 445px) {
    .content-text {
        margin-bottom: 10px;
    }
    .main img {
        width: 65%;
        right: 37px;
        top: -216px;
    }
    .footer-box {
        padding-top: 60px;
    }
    .footer-tel {
        margin-bottom: 26px;
    }
}
@media (max-width: 415px) {
    .content {
        padding: 5px 96px 144px 20px;
    }
    .content-text {
        margin-bottom: 29px;
    }
    .content-link {
        margin-bottom: 22px;
    }
}
@media (max-width: 380px) {
    .content {
        padding: 5px 38px 133px 20px;
    }
    .content-link {
        margin-bottom: 33px;
    }
    .main img {
        width: 70%;
        right: -12px;
    }
    .promo-left {
        padding-bottom: 31px;
    }
    .footer-box {
        padding-left: 15px;
    }
}
@media (max-width: 350px) {
    .main img {
        width: 72%;
        right: -43px;
    }
    .promo {
        padding: 48px 13px;
    }
}
@media (max-width: 320px) {
    .content {
        padding-left: 10px;
    }
    .main img {
        width: 98%;
        right: -100px;
    }
    .promo {
        padding: 46px 2px 45px 2px;
    }
    .promo-left {
        padding: 0px 11px 57px 8px;
    }
    .promo-right {
        padding-left: 8px;
    }
    .content-link, .promo a {
        padding: 20px 31px;
    }
    .footer-box {
        padding-left: 10px;
    }
}